<header class="masthead mb-auto">
  <div class="inner">
    <h3 class="masthead-brand" [routerLink]="['']" title="J.T. Robinson">J.T. <span id="brand">Robinson</span></h3>
    <nav class="nav nav-masthead justify-content-center">
      <a class="nav-link" [routerLink]="['']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"
        title="Home">Home</a>
      <a class="nav-link" [routerLink]="['about']" routerLinkActive="active-link"
        [routerLinkActiveOptions]="{exact: true}" title="About">About</a>
      <a class="nav-link" [routerLink]="['projects']" routerLinkActive="active-link"
        [routerLinkActiveOptions]="{exact: true}" title="Projects">Projects</a>
      <a class="nav-link" [routerLink]="['contact']" routerLinkActive="active-link"
        [routerLinkActiveOptions]="{exact: true}" title="Contact">Contact</a>
      <a class="nav-link" id="linkedin" target="_blank" rel="noopener" href="https://www.linkedin.com/in/jt704"
        title="LinkedIn"><i class="fab fa-linkedin fa-2x"></i></a>
      <a class="nav-link" id="github" target="_blank" rel="noopener" href="https://github.com/jtrob704"
        title="GitHub"><i class="fab fa-github fa-2x"></i></a>
    </nav>
  </div>
</header>