.about {
    padding-top: 5em;    
}

.card {
    border-right: 1px solid;    
}

.card-body {
    margin-left: 2em;
}

.file-icon {
    margin-right: 1em;
}

i {
    color: #cc0000;
}

#resume-dl {
    margin-top: 2em;
}

#resume-dl a {
    margin-top: 1em;
    margin-right: 2em;    
    background-color: #cc0000;
    width: 10em;
}

#resume-dl i {
    margin-left: .5em;
    color: #fff;
}

@media only screen and (max-width: 600px) {
    .about {
        padding-top: 2em;    
    }
}