<div class="container about">
    <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-8">
            <p>I’ve always had an interest in science and technology. As I grew older I discovered the magic of
                computing and electronics.
                I’ve always been interested in how electronic devices were built and functioned.
                Shortly afterward I started learning about coding and became obsessed with how computers can enrich our
                lives.
                I was amazed that new experiences could be created simpy by writing code into an editor.
                I started creating websites for friends and family and developing my own personal projects.
                As an adult working in the tech industry I began learning more about how the science of data could be
                used to develop models
                that can deliver insights into how people use technology in their everyday lives and how that technology
                can be iterated and
                improved upon using data.</p>

            <p>My specialties include front end development with HTML, CSS, and Javascript.
                For backend development I specialize in Python, PostgreSQL, and mySQL.
                I primarily work with numPy, pandas, Tableau, and R for data analysis.</p>

            <p>If you would like to work together to create something special feel free to complete the contact form or
                downlaod a copy of my
                resume in your preferred format below.</p>
            <h3 class="text-center">Skills</h3>
            <div class="card-group text-primary text-center">
                <div class="card">
                    <h1><i class="fas fa-code"></i></h1>
                    <h5>Web Development</h5>
                    <div class="card-body">
                        <ul class="list-unstyled">
                            <li><i class="fas fa-plus"></i> Skill 1</li>
                            <li><i class="fas fa-plus"></i> Skill 2</li>
                            <li><i class="fas fa-plus"></i> Skill 3</li>
                        </ul>
                    </div>
                </div>
                <div class="card">
                    <h1><i class="fas fa-atom"></i></h1>
                    <h5>Data Science</h5>
                    <div class="card-body">
                        <ul class="list-unstyled">
                            <li><i class="fas fa-plus"></i> Skill 1</li>
                            <li><i class="fas fa-plus"></i> Skill 2</li>
                            <li><i class="fas fa-plus"></i> Skill 3</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="resume-dl" class="text-center">
                <h3>Resume <i class="fas fa-download"></i></h3>
                <a href="#" class="btn btn-primary btn-lg" role="button">Plain Text<i class="fas fa-file-alt"></i></a>
                <a href="#" class="btn btn-primary btn-lg" role="button">PDF<i class="fas fa-file-pdf"></i></a>
                <a href="#" class="btn btn-primary btn-lg" role="button">MS Word<i class="fas fa-file-word"></i></a>
            </div>
            <div class="col-lg-2">
            </div>
        </div>
    </div>