<div class="container about">
    <div class="row">
        <div class="col-lg-3">            
          </div>
          <div class="col-lg-6">
              <p class="lead">
                  Lorem ipsum dolor sit amet consectetur adipiscing elit cursus aliquam turpis sagittis at, pellentesque cum euismod class habitasse viverra platea montes et maecenas fermentum. At fringilla dis suscipit mattis vitae curabitur quisque sollicitudin, placerat arcu metus aptent interdum ac nisl convallis, faucibus odio cras risus primis sociis habitant. Quam suspendisse a dis gravida cubilia aliquet eros curae, pulvinar fusce est in facilisi penatibus eget massa primis, libero parturient diam enim morbi cursus nam. Primis tempor tortor facilisis et lectus torquent sociis nunc luctus eget tristique fermentum, donec sollicitudin ultricies tellus natoque convallis erat netus sed egestas quam, curabitur volutpat potenti laoreet nulla est blandit orci facilisi mus vitae.
              </p>
          </div>
          <div class="col-lg-3">            
          </div>
    </div>
</div>>
