<div class="project-list">
  <div class="card mb-3 text-center" style="max-width: 540px;" *ngFor="let project of projects">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="{{project.thumbnail}}" class="card-img" alt="{{project.name}}">
      </div>
      <div class="col-md-4">
        <div class="card-body">
          <h5 class="card-title">{{project.name}}</h5>
          <p class="card-text">{{project.description}}</p>
          <span class="badge badge-pill badge-primary" *ngFor="let tag of project.tags">{{ tag }}</span>
          <a target="_blank" rel="noopener noreferrer" href="{{project.url}}">View on GitHub</a>
        </div>
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </div>
</div>