body, html {
    height: 100%;
    margin: 0;    
    color: #fff;
    overflow: hidden;
  }
  
  .bg {
    /* The image used */
    background-image: url("/assets/images/geometric-1732847_1920.jpg");
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;        
  }

  h1 { 
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 600px) {  
  .bg {
    /* The image used */
    background-image: url("/assets/images/geometric-1732847_1920.jpg");
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
    overflow: auto;     
  }
}

@media only screen and (orientation: landscape) {
  .bg {
    /* The image used */
    background-image: url("/assets/images/geometric-1732847_1920.jpg");
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
    overflow: auto;     
  }
}